/* Create two unequal columns that floats next to each other */

.ficheCommande {
    width: 100%;
    font-size: 0.5rem;
}

.column {
    float: left;
    padding: 8px;
    min-height: 100vh;
    /* Should be removed. Only for demonstration */
}

.carte_swiper-wrapper {
    min-height: 100vh;
}

.left {
    width: 61%;
    background-color: var(--card-bg-color);
}

div.left {
    margin: 3px;
    padding: 3px;
    min-height: 100vh;
    overflow: auto;
}

.right {
    width: 36%;
    background-color: var(--grey-color);
    border-radius: var(--global-radius);
    box-shadow: var(--box-shadow);
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.fa-trash {
    color: var(--badge-danger-bg)
}

.euros {
    font-size: 1.4rem;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
        margin: 0px;
    }
    
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
       
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
        width:100%;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: auto;
        padding-right: 0;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
    .video-responsive { 
        overflow:hidden; 
        padding-bottom:100%; 
        position:relative; 
        height:0;
        }
        
        .video-responsive iframe {
        left:0; 
        top:0; 
        height:100%;
        width:100%;
        position:absolute;
        }
}